.v-application code {
  all: unset !important;
  border-radius: 3px !important;
  font-size: 85% !important;
}

code {
  box-shadow: 0 !important;
}

code::before {
  content: '' !important;
}

.line-numbers .line-numbers-rows {
  left: 0.5em !important;
  top: 1.24em !important;
  line-height: 1.765em;
}
